<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="main-content">
        <%- body %>
    </main>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>